<h1>Menu Inventario</h1>
<mat-grid-list cols="3" rowHeight="2:1">
  <mat-grid-tile>
    <button mat-button>Inventarios</button>
  </mat-grid-tile>
  <mat-grid-tile>
    <button mat-button>Compra/Venta</button>
  </mat-grid-tile>
  <mat-grid-tile>
    <button mat-button routerLink="../order-management">Pedidos</button>
  </mat-grid-tile>
  <mat-grid-tile>
    <button mat-button>Facturación</button>
  </mat-grid-tile>
  <mat-grid-tile>
    <button mat-button>Proveedor</button>
  </mat-grid-tile>
  <mat-grid-tile>
    <button mat-button>Acerca de...</button>
  </mat-grid-tile>
  <mat-grid-tile>
    <button mat-button routerLink="../employee-registration">Registro Empleados</button>
  </mat-grid-tile>
  <mat-grid-tile>
    <button mat-button>Creditos</button>
  </mat-grid-tile>
  <mat-grid-tile>
    <button mat-button>Mi perfil</button>
  </mat-grid-tile>
  <mat-grid-tile>
    <button mat-button>Admin</button>
  </mat-grid-tile>
  <mat-grid-tile>
    <button mat-button>Logout</button>
  </mat-grid-tile>
</mat-grid-list>



